<!DOCTYPE html>
<html>

<head>
  <meta charset='utf-8'>
  <title>Enter the deets for your package!</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>

<body>
  <h1>Enter the dimensions and weight of the package that you want to ship!
  </h1>
  <form action="/packageLength" method="post">
    <label for="side1">Side 1 Dimension</label>
    <input id="packageLength" name="packageLength" type="number">
    <label for="side2">Side 2
      Dimension
    </label>
    <input id="packageWidth" name="packageWidth" type="number">
    <button type="submit">Submit!</button>
  </form>
</body>

</html>